[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.dll
*.pdb
*.exe
*.cache
*.resources
*.user
*.suo
*.userosscache

*.db
*.sqlite
*.db-journal
*.mdf
*.ldf

Migrations/

.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

.idea/
*.sln.iml
*.swp
*.swo

.vs/

packages/
*.nupkg
.nuget/

/publish/
/Published/

*.tmp
*.temp
[Tt]emp/
